.profile{
    display: flex;
    justify-content: space-between;
    max-width: 880px;
    margin: 40px auto 0;
}
@media (max-width:890px){
    .profile{
        margin-top: 38px;
        max-width: 320px;
        flex-direction: column;
    }
}