.elements__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  box-sizing: border-box;
    margin: 0 auto 0;
    max-width: 880px;
    list-style-type: none;
    padding: 0;
}
@media (max-width:929px){
    .elements__list{
        max-width: 600px;
        justify-content: center;
    }
}
@media (max-width:644px){
    .elements__list{
        max-width: 282px;
    }
}